/* Sign */
/* Screen */
/* Board */
body {
  margin: 0;
}

.wall {
  background-color: #E8BC59;
  margin: 0;
  padding: 0;
  width: 100vh;
  height: 300vw;
  -webkit-transform: rotate(-90deg) translateX(-100vh);
          transform: rotate(-90deg) translateX(-100vh);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "wallMiddle wallLeft wallRight";
}

::-webkit-scrollbar {
  display: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 300vw;
  -webkit-transform: rotate(90deg) translateY(-100vh);
          transform: rotate(90deg) translateY(-100vh);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

/* Sections */
.wallLeft,
.wallMiddle,
.wallRight {
  width: 100vw;
  height: calc(100vh - 85px);
  scroll-snap-align: start;
  position: relative;
}

.wallLeft {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: wallLeft;
}

.wallMiddle {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: wallMiddle;
}

.wallRight {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: wallRight;
}

.frameLeft,
.frameMiddle,
.frameRight {
  position: absolute;
  top: 5vh;
  bottom: 0;
  left: 0;
  right: 0.9vw;
  margin: auto;
  width: 98%;
  display: block;
  z-index: -1;
}

.rail {
  margin-top: -14px;
  margin-left: -2px;
  width: 300vw;
  display: block;
  top: 0;
  position: absolute;
  z-index: 1;
}

.snowbank {
  width: 300vw;
  display: block;
  position: absolute;
  bottom: 0;
  margin: 0;
  margin-left: -5px;
  padding: 0;
  z-index: 1;
}

/* Text */
/* Logo left frame */
.line {
  padding-top: 2px;
  background-color: #D94854;
  width: 64.4vw;
  margin: 4vh auto 5vh auto;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #D94854;
  text-align: center;
  z-index: 1;
  margin: 0 0.9vw 0 auto;
}

.twentyFour {
  font-size: 50vw;
  line-height: 0.5;
}

.dageMed {
  font-size: 11.1vw;
}

.kultur {
  font-size: 15.2vw;
  line-height: 0.2;
}

/* Header middle frame */
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #000000;
  z-index: 1;
  margin: 0;
  margin-left: 0.1vw;
}

.h2_middle {
  position: absolute;
  top: 26vh;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.h2_right {
  font-size: 1rem;
}

.h2_small {
  font-size: 6.9vw;
  margin: 0;
  line-height: 1.2;
}

.h2_big {
  font-size: 9.76vw;
  margin: 0;
  line-height: 1.2;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 8.18vw;
  text-align: center;
  z-index: 1;
  margin-left: 0.1vw;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #000000;
  font-size: 4.1vw;
  line-height: 2.2;
  text-align: left;
  z-index: 1;
  margin: 4vh 16vw 0 16vw;
}

.h2_right {
  margin-top: 26vh;
}

/* Event box's right frame */
.eventGrey {
  background: #F7F9FC;
  margin-left: 12vw;
  margin-right: 12vw;
  margin-bottom: 0;
  text-align: left;
}

.eventBlue {
  background: #CAD4E8;
  margin: 2vh 12vw 2vh 12vw;
  text-align: left;
}

/* Buttons right frame */
.buttons {
  text-align: center;
  margin-top: 8vh;
}

.btn {
  border-radius: 15px;
  display: inline-block;
  cursor: pointer;
  outline: none;
}

.btnContainer {
  text-align: center;
  display: inline;
}

.btnCall {
  border: none;
  margin: 10px 2px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  position: relative;
}

.program {
  padding: 8px 12px;
  background: #D94854;
  -webkit-box-shadow: 0 6px #A3363F;
          box-shadow: 0 6px #A3363F;
}

.flag {
  padding: 8px 6px;
  background: #203954;
  -webkit-box-shadow: 0 6px #132C43;
          box-shadow: 0 6px #132C43;
}

.flagImg {
  width: 2.9rem;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.btnCall:hover {
  -webkit-box-shadow: 0 4px #A3363F;
          box-shadow: 0 4px #A3363F;
  top: 2px;
}

.btnCall:active {
  -webkit-box-shadow: 0 0 #A3363F;
          box-shadow: 0 0 #A3363F;
  top: 6px;
}

.flag:hover {
  -webkit-box-shadow: 0 4px #132C43;
          box-shadow: 0 4px #132C43;
  top: 2px;
}

.flag:active {
  -webkit-box-shadow: 0 0 #132C43;
          box-shadow: 0 0 #132C43;
  top: 6px;
}

.shine {
  width: 14px;
  position: absolute;
  right: 4px;
  top: 4px;
}

.logo {
  position: absolute;
  top: 5vh;
  bottom: 0;
  left: 0;
  right: 0.9vw;
  margin: auto;
  width: 98%;
  display: block;
  z-index: 1;
}

ul {
  margin: 25vh 3vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 2rem;
}

li {
  display: inline;
  list-style-type: none;
}

li span {
  display: inline;
  margin: auto;
  font-size: 1rem;
  font-weight: 400;
}

@media (min-width: 875px) {
  .events {
    left: -6.3vw;
    position: relative;
    margin-top: 28vh;
  }
  .eventGrey {
    margin-left: 5.2vw;
    margin-right: 5.2vw;
  }
  .eventBlue {
    margin: 1vh 5.2vw 1vh 5.2vw;
  }
  .frameLeft,
  .frameMiddle,
  .frameRight {
    width: 90%;
  }
  .frameLeft {
    right: -11vw;
    z-index: -1;
  }
  .logo {
    right: -11vw;
    width: 90%;
  }
  .frameRight {
    left: -11.9vw;
  }
  .rail {
    margin-top: -14px;
    margin-left: 0;
    width: 100vw;
    display: block;
    top: 0;
    position: absolute;
    z-index: 1;
  }
  .snowbank {
    width: 100vw;
    display: block;
    position: absolute;
    bottom: 0;
    margin: 0;
    margin-left: -1;
    padding: 0;
    z-index: 1;
  }
  /* Sections */
  .wrapper {
    width: 100vw;
  }
  .wallLeft {
    width: 33.33vw;
  }
  .wallMiddle {
    width: 33.33vw;
  }
  .wallRight {
    width: 33.33vw;
  }
  /* Text */
  /* Logo left frame */
  .line {
    padding: 1px 25vw;
    background-color: #D94854;
    width: 1vw;
    margin: 4vh auto 5vh auto;
  }
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #D94854;
    text-align: center;
    z-index: 1;
    margin: 0 auto 0 20vw;
  }
  .twentyFour {
    font-size: 15vw;
    line-height: 0.5;
  }
  .dageMed {
    font-size: 5.1vw;
  }
  .kultur {
    font-size: 6vw;
    line-height: 0.2;
  }
  /* Header middle frame */
  .h2_middle {
    top: 27vh;
  }
  h2 {
    margin-left: -1vw;
  }
  .h2_small {
    font-size: 2.1vw;
    margin: 0;
    line-height: 1.38;
  }
  .h2_big {
    font-size: 2.94vw;
    margin: 0;
    line-height: 1.3;
  }
  h3 {
    font-size: 2.47vw;
    margin-left: -0.9vw;
  }
  p {
    font-size: 1.29vw;
    line-height: 2;
    margin: 3vh 6vw 0 6vw;
  }
  .buttons {
    margin-left: -12vw;
  }
}
/*# sourceMappingURL=general.css.map */